
<h1>First part</h1>

<div class="bloque">
  <h2>Posts</h2>
  <table class="table">
      <thead>
          <tr>
              <th>userId</th>
              <th>id</th>
              <th>title</th>
              <th>body</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of posts | paginate: { id: 'paginationPosts', itemsPerPage: 10, currentPage: pagePosts }">
              <td>{{item.userId}}</td>
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.body}}</td>
          </tr>
      </tbody>
  </table>
  <pagination-controls
    id="paginationPosts"
    (pageChange)="pagePosts = $event"
    previousLabel="Previous posts"
    nextLabel="Next posts"
  ></pagination-controls>
</div>

<div class="bloque">
  <h2>Photos</h2>
  <table class="table">
      <thead>
          <tr>
              <th>albumId</th>
              <th>id</th>
              <th>title</th>
              <th>url</th>
              <th>thumbnailUrl</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of photos | paginate: { id: 'paginationPhotos', itemsPerPage: 10, currentPage: pagePhotos }">
              <td>{{item.albumId}}</td>
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.url}}</td>
              <td>{{item.thumbnailUrl}}</td>
          </tr>
      </tbody>
  </table>
  <pagination-controls
    id="paginationPhotos"
    (pageChange)="pagePhotos = $event"
    previousLabel="Previous photos"
    nextLabel="Next photos"
  ></pagination-controls>
</div>

<div class="bloque">
  <h2>Users</h2>
  <table class="table">
      <thead>
          <tr>
              <th>id</th>
              <th>name</th>
              <th>username</th>
              <th>email</th>
              <th>phone</th>
              <th>website</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of users | paginate: { id: 'paginationUsers', itemsPerPage: 10, currentPage: pageUsers }">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.website}}</td>
          </tr>
      </tbody>
  </table>
  <pagination-controls
    id="paginationUsers"
    (pageChange)="pageUsers = $event"
    previousLabel="Previous users"
    nextLabel="Next users"
  ></pagination-controls>
</div>

<h1>Second part</h1>

<div class="bloque">
    <h2>GET</h2>
    <form [formGroup]="getForm" (ngSubmit)="get()">
        <div class="form-group">
            <label>ID</label>
            <input type="number" formControlName="id" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="getForm.invalid">GET</button>
    </form>
    <br>
    <table class="table" [hidden]="getAnswer == null">
        <thead>
            <tr>
                <th>id</th>
                <th>userId</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{getAnswer != null ? getAnswer.id : ""}}</td>
                <td>{{getAnswer != null ? getAnswer.userId : ""}}</td>
                <td>{{getAnswer != null ? getAnswer.title : ""}}</td>
                <td>{{getAnswer != null ? getAnswer.body : ""}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bloque">
    <h2>POST</h2>
    <form [formGroup]="postForm" (ngSubmit)="postFunction()">
        <div class="form-group">
            <label>User ID</label>
            <input type="number" formControlName="userId" class="form-control">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" formControlName="body" class="form-control">
        </div>

        <br>
        <button type="submit" class="btn btn-success" [disabled]="postForm.invalid">POST</button>
    </form>
    <br>
    <table class="table" [hidden]="postAnswer == null">
        <thead>
            <tr>
                <th>id</th>
                <th>userId</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{postAnswer != null ? postAnswer.id : ""}}</td>
                <td>{{postAnswer != null ? postAnswer.userId : ""}}</td>
                <td>{{postAnswer != null ? postAnswer.title : ""}}</td>
                <td>{{postAnswer != null ? postAnswer.body : ""}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bloque">
    <h2>PUT</h2>
    <form [formGroup]="putForm" (ngSubmit)="put()">
        <div class="form-group">
            <label>User ID</label>
            <input type="number" formControlName="userId" class="form-control">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" formControlName="body" class="form-control">
        </div>

        <br>
        <button type="submit" class="btn btn-success" [disabled]="putForm.invalid">PUT</button>
    </form>
    <br>
    <table class="table" [hidden]="putAnswer == null">
        <thead>
            <tr>
                <th>id</th>
                <th>userId</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{putAnswer != null ? putAnswer.id : ""}}</td>
                <td>{{putAnswer != null ? putAnswer.userId : ""}}</td>
                <td>{{putAnswer != null ? putAnswer.title : ""}}</td>
                <td>{{putAnswer != null ? putAnswer.body : ""}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bloque">
    <h2>PATCH</h2>
    <form [formGroup]="patchForm" (ngSubmit)="patch()">
        <div class="form-group">
            <label>ID</label>
            <input type="number" formControlName="id" class="form-control">
        </div>
        <div class="form-group">
            <label>User ID</label>
            <input type="number" formControlName="userId" class="form-control">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" formControlName="body" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="patchForm.invalid">PATCH</button>
    </form>
    <br>
    <table class="table" [hidden]="patchAnswer == null">
        <thead>
            <tr>
                <th>id</th>
                <th>userId</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{patchAnswer != null ? patchAnswer.id : ""}}</td>
                <td>{{patchAnswer != null ? patchAnswer.userId : ""}}</td>
                <td>{{patchAnswer != null ? patchAnswer.title : ""}}</td>
                <td>{{patchAnswer != null ? patchAnswer.body : ""}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="bloque">
    <h2>DELETE</h2>
    <form [formGroup]="deleteForm" (ngSubmit)="delete()">
        <div class="form-group">
            <label>ID</label>
            <input type="number" formControlName="id" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="deleteForm.invalid">DELETE</button>
    </form>
    <br>
    <p [hidden]="deleteAnswer === false">Eliminado</p>
</div>

<router-outlet></router-outlet>
